<footer class="footer">
  <div class="footer__col footer__col--address">
    <p>MODUM POLSKA</p>
    <p>Julianów 1</p><p>99-205 Dalików</p>
  </div>
  <div class="footer__col footer__col--contact">
    <p><a href="tel:+48606625919" class="footer__link">+48 606 625 919</a></p><p><a href="tel:+48793162331" class="footer__link">+48 793 162 331</a></p><p class="footer__mail">
      <a
        href="mailto:biuro@drabinaratunkowa.pl"
        class="footer__link"
      >biuro@drabinaratunkowa.pl</a></p></div>
  {{!-- <div class="footer__col footer__col--mail">
    <p>E-mail:
      <a
        href="mailto:biuro@drabinaratunkowa.pl"
        class="footer__link"
      >biuro@drabinaratunkowa.pl</a></p>
  </div> --}}
</footer>