.footer {
    display: flex;
    justify-content: center;
    gap: 350px;
    height: 100px;
    background: rgba(0, 0, 0, 0.7);
    color: #a5a5a5;
    width: 100%;
    position: absolute;
    bottom: 0px;
    z-index: 2;
    color: #fff;
    padding-top: 15px;
    font-size: 18px;
    padding-left: 15px 0 35px 0;
    box-sizing: border-box;

    @media only screen and (max-width: 768px) {
        justify-content: space-between;
        height: 95px;
        padding: 14px 10px 14px 35px;
        box-sizing: border-box;
        font-size: 15px;
        gap: 30px;
    }

    p {
        margin-top: 0;
        margin-bottom: 12px;
        &.noBottomMargin{
            margin-bottom: 0;;
        }
    }

    &__col {
        position: relative;

        &::before {
            position: absolute;
            left: -27px;
        }

        &--address {
            &::before {
                font: var(--fa-font-solid);
                content: "\f015";
            }
        }

        &--contact {
            &::before {
                font: var(--fa-font-solid);
                content: "\f095";
            }

            .footer__link {
                color: #fff;
                text-decoration: none;
                pointer-events: none;
                cursor: default;

                @media only screen and (max-width: 768px) and (hover: none) and (pointer: coarse) {
                    pointer-events: auto;
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }

    &__mail {
        &::before {
            position: absolute;
            left: -27px;
            font: var(--fa-font-solid);
            content: "\f0e0";
        }

        .footer__link {
            pointer-events: auto;
            color: #fff;
            text-decoration: underline;
            cursor: pointer;

            &:hover {
                text-decoration: none;
            }
        }
    }
}