@import 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css';

:root{

    --color-default: #000
    --bg-color-default: #fff;
}

html{
    font-size: 16px;
    line-height: 1;
    font-family: 'Calibri',Arial,sans-serif;
}

body{
    margin:0;
    padding:0;
    font-weight: 500;
    color: var(--color-default);
    background-color: var(bg-color-default);
}

main{
    position: relative;
    min-height: 100vh;
}


img{
    border: 0;
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
}

.content{
    &__container{
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
        padding: 60px 15px;
        animation-name: contentAnimation;
        animation-duration: 1.2s;
        animation-timing-function: ease;
        box-sizing: border-box;

        @media only screen and (max-width: 768px){
            padding: 60px 30px;
        }
    }

    &__title{
        margin: 0 auto;
        display: inline-block;
        font-size: 42px;
        line-height: 1;
        font-weight: bold;
        position: relative;
        width: 100%;
        text-align: center;
        margin-bottom: 60px;

        &--underline{

        &::before{
            content: '';
            position: relative;
            left: 0;
            right: 0;
            top: 60px;
            display: block;
            width: 70px;
            height: 1px;
            margin: 0 auto;
            background: #ff0000;
        }

        &::after{
            content: '+';
            font-size: 10px;
            color: red;
            position: relative;
            left: 0;
            display: block;
            right: 0;
            top: 14px;
            width: 13px;
            height: 5px;
            line-height: 5px;
            margin: 0 auto;
            background: #fff;
        }
    }
    }
}

.icon__line{
    background: #FF0004;
    width: 60px;
    height: 1px;
    display: inline-block;
    margin-left: 17px;
    position: relative;
    top: -8px;
}

@keyframes contentAnimation {
    from {transform: translate3d(0,100px,0); opacity: 0}
    to {transform: translateZ(0); opacity: 1}
  }

