@import 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css';

:root{

    --color-default: #000
    --bg-color-default: #fff;
}

html{
    font-size: 16px;
    line-height: 1;
    font-family: 'Calibri',Arial,sans-serif;
}

body{
    margin:0;
    padding:0;
    font-weight: 500;
    color: var(--color-default);
    background-color: var(bg-color-default);
}

img{
    border: 0;
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
}

//E.g. for menu and some other items
.header{
    width: 100%;
    position: absolute;
    top: 38px;
    z-index: 10;
    padding: 0 0 0;
    background: transparent;

    @media only screen and (max-width: 1023px){
        top: 0px;
    }

.menu{
    box-sizing: border-box;
    position: relative;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

    @media only screen and (max-width: 1023px){
        padding: 0;
    }

    &__wrapper{
        background: #fff;
        height: 100px;
        border-radius: 3px;
        box-shadow: 1px 0 17px rgba(0,0,0,0.75);
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        @media only screen and (max-width: 1023px){
            margin-top: 0px;
            position: relative;
            height: 78px;
            border-radius: 0;
        }
    }

    &__logo{
        margin-left: 18px;
        width: 187px;
    
        @media only screen and (max-width: 1023px){
            margin: 10px 0 10px 15px;
        }
    }

    &__button{
        display: none;
        @media only screen and (max-width: 1023px){
        position: absolute;
        display: block;
        color: #3a4267;
        border: none;
        margin-top: 0;
        z-index: 9999;
        background: none;
        top: 22px;
        right: 25px;

    &Bar{
            width: 30px;
            height: 2px;
            background-color: #FF0004;
            display: block;
            transition: all .2s;
            margin-top: 7px;
            position: relative;
            border: 0 solid #121834;
    }

        &--active{
            top: 27px;
            right: 15px;

        .menu__buttonBar--top{
            transform: rotate(42deg);
            transform-origin: 3px 0;
        }
    
        .menu__buttonBar--middle{
            opacity: 0;
            left: 100%;
        }
    
        .menu__buttonBar--bottom{
            transform: rotate(-42deg);
            transform-origin: 0 0;
        }
        }
    }
    }

    &__itemsWrapper{
        display: flex;
        align-items: center;
    
        @media only screen and (max-width: 1023px){
            position: fixed;
            right: -280px;
            top: 77px;
            max-width: 270px;
            width: 100%;
            height: 100%;
            background: #fff;
            margin-top: 0;
            z-index: 999999;
            padding-top: 10px;
            transform: translate(-280px 0);
            display: flex;
            flex-flow: column wrap;
            align-items: flex-start;
        }

        &--active{
            @media only screen and (max-width: 1023px){
                right: 0;
                transform: translate(0 0);
                transition: all .3s ease-in;
            }
        }
    
    }

    &__itemsList{
        margin: 0px auto 0 auto;
        position: relative;
        left: 0;
        padding: 0;
        text-align: center;
        display: flex;
        flex-wrap: nowrap;

        @media only screen and (max-width: 1023px){
            height: auto;
            text-align: left;
            margin-left: 0;
            width: 100%;
            display: flex;
            -webkit-flex-flow: column;
            flex-flow: column;
        } 
    }

    &__item{
        position: relative;
        top: 0;
        display: inline-block;
        vertical-align: middle;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        &:hover{
            a{
                color: #ff0000;
            }
        }

        @media only screen and (max-width: 1023px){
            display: block;
            margin: 0 0;
            padding: 12px 10px 12px 10px;
            height: auto;
            border-bottom: 1px solid #ddd;
            // transform: translateX(200%);
            transition: transform 550ms cubic-bezier(.45,1,.32,1);
        }
    }

    &__link{
            color: #000;
            margin: 0 25px;
            padding: 0 0;
            display: inline-block;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 600;
    
            @media only screen and (max-width: 1023px){
                font-size: 16px;
                color: #000;
                font-weight: 400;
                position: relative;
                margin: 0 0 0;
                letter-spacing: 1.25px;
            }
    }

    &__overlay{
            display: none;
        
            @media only screen and (max-width:1023px){
            display: block;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 77px;
            left: 0;
            background: rgba(0,0,0,.7);
            z-index: 777;
        
            &--hidden{
                display: none;
            }
        }
    }
}
}

.slider{
    height: 80vh;
    width: 100%;
    float: left;
    position: relative;
    overflow: hidden;

    &__image{
        width: 100%;
        transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
        height: 100vh;
        object-fit: cover;
        object-position: center center;
    }

    &__slide{
        position: relative;
    }

    &__textWrapper{
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    &__title, &__subtitle{
        line-height: 1.15;
        margin-bottom: 55px;
        color: #fff;
        font-weight: bold;
        text-shadow: 0 1px 5px rgba(0,0,0, 0.3);;
    }

    &__title{
        font-size: 72px;
    }

    &__subtitle{
        font-size: 30px;
    }

    &__overlay{
        display: block;
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        background: rgba(0,0,0,.3);
        z-index: 1;
        top:0;
    }

    .swiper-pagination-bullet{
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 50px;
        height: 5px;
        padding: 0;
        margin-right: 3px;
        margin-left: 3px;
        text-indent: -999px;
        cursor: pointer;
        background-color: #fff;
        background-clip: padding-box;
        border: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        opacity: .5;
        transition: opacity .6s ease;
        border-radius: 0;

        &-active{
            opacity:1;
        }
    }
}