.contact{
    &__content{
        display: flex;
        justify-content: center;
        gap: 400px;
        padding-left: 70px;
        font-size: 20px;

        @media only screen and (max-width: 1023px){
            gap: 250px;
        }

        @media only screen and (max-width:768px){
            padding: 0;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            font-size: 18px;

            p{
                margin-bottom: 14px;
            }
        }

        p{
            margin-top: 0;
        }
    }

    &__col {
        position: relative;

        &::before {
            position: absolute;
            left: -27px;
        }


        &--address {
            &::before {
                font: var(--fa-font-solid);
                content: "\f015";
            }
        }

        &--contact {
            &::before {
                font: var(--fa-font-solid);
                content: "\f095";
            }

            @media only screen and (max-width: 768px){
                left: 44px;
            }

            .footer__link {
                color: black;
                text-decoration: none;
                pointer-events: none;
                cursor: default;

                @media only screen and (max-width: 768px) and (hover: none) and (pointer: coarse) {
                    pointer-events: auto;
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }

    &__map{
        display: flex;
        justify-content: center;
        margin: 30px 0 100px 0;
    }
}