.mobilne{
    &__title{
        font-size: 26px;
        margin-bottom: 30px;
        &:first-child{
            margin-top: 0px;
        }

        @media only screen and (max-width: 768px){
            font-size: 22px;
        }
    }

    &__large-paragraph{
        margin-bottom: 30px;
    }

    &__content{
        margin: 0 0 20px;
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 100px;
        p::not(.mobilne__large-paragraph){
            font-size: 18px;
            margin-bottom: 0;
         }

         @media only screen and (max-width: 768px){
            font-size: 16px;
            margin-bottom: 30px;
        }
    }

    &__margin-top-section{
        margin-top: 40px;
    }
}